<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/signup.css"/>
  <title>Sing up</title>
  <style>
    h4 {
      font-size: 18px;
    }
    a {
      font-size: 15px;
      color: #ff7c00;
    }
    a:hover{
      color: #dcdbdb;
    }
  </style>
</head>
<body>
<nav class ="grey darken-4 ">
  <div class="container nav-wrapper ">
    <a href="/index" class="brand-logo"><img src="/assets/my/icon.png" class="logo-icon" alt="icon:logo"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/companies">Акции</a></li>
      <li><a href="/portfolios">Портфель</a></li>
      <li><a href="/account">Профиль</a></li>
      <li><a href="/">Выход</a></li>
    </ul>
  </div>
</nav>
<main>
  <div class="container">
        <div class="wrapper">
          <div class="row title">
            <h4>Вы находитесь на странице настройки Вашего профиля.</h4>
            <h4>Здесь Вы можете управлять всеми основными настройками сайта.</h4>
          </div>
          <div class="row form">
            <form  th:action="@{/signup}" th:object="${user}" method="post">
              <div class="input-field col s8">
                <input  id="first_name" type="text" class="validate" th:field="*{firstName}"
                        pattern = "^[a-zA-Z]+$" required title="Must contain only letters">
                <label class="active" for="first_name">Имя</label>
              </div>
              <div class="input-field col s8">
                <input  id="last_name" type="text" class="validate" th:field="*{lastName}"
                        pattern = "^[a-zA-Z]+$" title="Must contain only letters"
                        required>
                <label class="active" for="last_name">Фамилия</label>
              </div>
              <div class="input-field col s8">
                <input  id="email" type="email" class="validate" th:field="*{email}" required>
                <label class="active" for="email">Email</label>
              </div>
              <div class="input-field col s8">
               <a href="/changePassword">Изменить пароль</a>
              </div>
              <div class="input-field col s8">
                <button class="btn waves-effect blue-grey darken-3 btn-submit" type="submit" name="action">Сохранить</button>
              </div>
            </form>
      </div></div>
</div>
</main>
</body>
</html>